
.footer {
text-align: center;
  background: #e9e8e6;
  padding: 30px 0;
  color: #222222;
  font-size: 14px;
  
}

.footer .credits {
  padding-top: 5px;
  font-size: 13px;

  
}

.footer .credits a {
  color: #34b7a7;
}